[user]
   name = Richard C. Greenwood
   email = rcgreenw-github at slotechs.com
[color]
   ui = true
[status]
   short = true
[alias]
   stat = status -s
   lg = "log --pretty=format:'%C(yellow)%h%C(reset) %C(blue)%an%C(reset) %C(cyan)%cr%C(reset) %s %C(green)%d%C(reset)' --graph --date-order"
   commit = commit --verbose
   ci = commit --verbose
   co = checkout
[core]
   pager = less -X
[merge]
   tool = vimdiff
[help]
	autocorrect = 1
